{% extends 'base.html.twig' %}

{% block title %}Lista de productos{% endblock %}

{% block body %}
    <header class="header">
        <strong>Carrito de Compras</strong>
        <div style="float: right;">
            <button class="btn-ligth">Ver Orden</button>
            <button class="btn-ligth">Salir</button>
        </div>
    </header>
    <main>
        <h2 class="title">Lista de productos</h2>
    </main>
{% endblock %}