<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>My app</title>
 <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
</head>
<body>
 {% block body %}{% endblock %}
</body>
</html>